/*  resets, structure, and type | css/styles.css                             */

/*--RESETS-------------------------------------------------------------------*/
/*  From Eric Meyer's Reset CSS | https://meyerweb.com/eric/tools/css/reset/ */


*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}
/*th, td {padding:0;position:relative;}*/

/*--STRUCTURE----------------------------------------------------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  padding: 20px 56px;
  background: #4F66EE;
}

header span {
  display: inline-block;
  float: left;
}

nav.top {
  float: right;
  text-align: right;
}

nav.top ul li {
  display: inline-block;
  margin-left: 48px;
}

.hero, main, footer {
  width: 100%;
  clear: both;
}

.hero {
  margin-top: 96px;
  padding: 88px 56px 0 56px;
  height: 400px;
  background: center url('../images/golden-gate-bg.jpg') #4F66EE;
  background-size: cover;
}

main {
  padding-top: 56px;
}

.sidebar {
  float: left;
  width: 31%;
}

nav.side ul li a {
  display: block;
  height: 80px;
  padding: 28px 28px 28px 56px;
  margin-bottom: 24px;
  text-decoration: underline;
}

nav.side ul li a.write {
  background-image: url(../images/pencil-purple.svg);
  background-repeat: no-repeat;
  background-position: 140px 20px;
}

nav.side ul li a.active, nav.side ul li a:hover {
  background: #4F66EE;
  text-decoration: none;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 80px;
}

nav.side ul li a.write:hover {
  background-image: url(../images/pencil-white.svg);
  background-repeat: no-repeat;
  background-position: 140px 20px;
}

article {
  float: right;
  width: 64%;
  padding: 0 56px 56px 0;
}

article img {
  width: 100%;
  height: auto;
  margin-bottom: 56px;
}

article table {
  width: 100%;
  padding-top: 28px;
  margin-bottom: 56px;
}

article table tr th {
  border-bottom: 3px solid #999999;
  padding: 0 0 15px 0;
}

article table tr td {
  border-bottom: 1px solid #777777;
  padding: 15px 0;
}

article table tr:last-child td {
  border-bottom: none;
}

.newsletter-signup {
  background: #ECF0FD;
  border-radius: 9px;
  padding: 40px 88px 48px 88px;
}

.newsletter-signup h3 {
  background-image: url(../images/mail-black.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 64px;
  margin-left: -64px;
}

.newsletter-signup form input, .newsletter-signup form label, .newsletter-signup form select {
  display: block;
  width: 100%;
}

.newsletter-signup form label {
  margin-top: 48px;
  margin-bottom: 12px;
}

.newsletter-signup form input, .newsletter-signup form select {
  border: 3px solid #1C3E57;
  border-radius: 9px;
  background: #FFFFFF;
  height: 68px;
  padding: 0 21px;
}

.newsletter-signup form input.btn {
  border: none;
  background: #4F66EE;
  width: auto;
  margin-top: 48px;
}

footer {
  height: 116px;
  background: #212123;
  padding: 40px 56px;
}

/*--TYPE---------------------------------------------------------------------*/

body {
  font-family: "Work Sans";
  color: #212123;
}

header {
  color: #FFFFFF;
}

header span {
  font-size: 36px;
  line-height: 56px;
}

nav.top ul li {
  font-size: 24px;
  line-height: 56px;
}

nav.top ul li a:hover {
  text-decoration: underline;
}

nav.top ul li a.nav-btn {
  display: inline-block;
  height: 56px;
  background: #FFFFFF;
  color: #4F66EE;
  border-radius: 9px;
  padding: 0 24px;
}

.hero {
  color: #FFFFFF;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
}

nav.side ul li a {
  font-size: 24px;
  font-weight: bold;
  color: #4F66EE;
  line-height: 24px;
}

nav.side ul li a.active, nav.side ul li a:hover {
  color: #FFFFFF;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 28px;
}

h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

p {
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 56px;
}

article table th {
  font-size: 24px;
  text-align: left;
}

article table td {
  font-size: 36px;
}

article table td span {
  font-size: 24px;
  color: #636365;
}

.newsletter-signup form input, .newsletter-signup form label, .newsletter-signup form select {
  font-size: 24px;
}

.newsletter-signup form input, .newsletter-signup form select {
  line-height: 54px;
}

.newsletter-signup form input.btn {
  color: #FFFFFF;
}

footer {
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 36px;
}

/*--SMALL SCREENS------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
  .sidebar, article {
    float: none;
    width: 100%;
    clear: both;
  }
}